body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background: radial-gradient(circle at center, #000 50%, #333 100%); /* Dégradé radial */
    color: #fff; /* Couleur du texte */
}

header {
    padding: 20px;
    display: flex;
    justify-content:center;
    text-align: center;
}

.page-title {
    padding: 20px; /* Espace intérieur pour le contenu */
    border: 3px solid #ccc; /* Bordure de 3 pixels de large */
    border-radius: 25px; /* Coins arrondis */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Fondu d'ombre */
    width: 85%; /* Largeur de 80% de la largeur de son conteneur */
    max-width: 700px; /* Largeur maximale de 600 pixels */
    height: auto; /* Hauteur automatique en fonction du contenu */
}

header h1 {
    text-align: center;
}

.burger-menu {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 30px;
    height: 20px;
    cursor: pointer;
    padding-top: 40px;
    padding-left: 40px;
}
.burger-menu1 {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 30px;
    height: 20px;
    cursor: pointer;
    padding-top: 40px;
    padding-left: 40px;
}

/*.menu-icon {
    /* Définir la taille et la forme de l'icône */
    /*width: 30px;
    height: 30px;
    background-image: url('C:\\Users\\P-A\\Desktop\\Test2\\image anneau.png'); /* Chemin de l'image */
    /*background-size: cover; /* Redimensionner l'image pour qu'elle couvre l'élément */
    /*background-position: center; /* Centrer l'image */
    /*cursor: pointer; /* Afficher le curseur comme pointer */
    /* Autres propriétés pour l'apparence de l'icône 
}
*/

.line {
    width: 100%;
    height: 3px;
    background-color: #fff;
    transition: color 0.3s ease-in-out;
}

.line:hover {
    background-color: #535063; /* Noir au survol */
}

.menu {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 200px;
    height: 100%;
    background-color: #E89009; /* Couleur de fond du menu */
    transition: transform 0.3s ease-in-out;
}


.menu.show {
    transform: translateX(0);
    display: block;
}

.menu ul {
    list-style-type: none;
    padding: 0;
    padding-top: 80px; /* Pour éviter que le menu ne recouvre le header */
    padding-left: 20px;
}

.menu li {
    margin-bottom: 25px;
}

.menu li a {
    color: #fff;
    text-decoration: none;
    font-size: 18px;
    transition: color 0.2s ease-in-out;
}

.menu li a:hover{
    color: #535063; /* Couleur jaune au survol */
}
main {
    padding: 20px;
    text-align: justify; /* Justifier le texte dans les paragraphes */
    padding-bottom: 100px;
}

main p {
    margin-bottom: 20px; /* Ajouter un espace entre les paragraphes */
    text-align: center; /* Centrer le texte dans les paragraphes */
    max-width: calc(100% - 800px); /* Largeur maximale pour le centrage */
    margin-left: auto; /* Centrer horizontalement */
    margin-right: auto; /* Centrer horizontalement */
}

main h2 {
    margin-bottom: 20px; /* Ajouter un espace entre les paragraphes */
    text-align: center; /* Centrer le texte dans les paragraphes */
    max-width: calc(100% - 800px); /* Largeur maximale pour le centrage */
    margin-left: auto; /* Centrer horizontalement */
    margin-right: auto; /* Centrer horizontalement */
}

footer {
    background-color: #222; /* Couleur de fond du footer */
    color: #fff; /* Couleur du texte */
    padding: 20px;
    text-align: center;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    display: none;
}

.image-container {
    margin-left: 300px;
    margin-right: 300px;
}

img {
    max-width: 85%;
    height: auto;
    display: block;
    margin: auto;
}

.rounded-image {
    border-radius: 25px; /* Vous pouvez ajuster la valeur pour changer le degré d'arrondi */
}

.countdown-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;

}


.rectangle {
    background: radial-gradient(circle, #ddd 10%, #000 60%); /* Dégradé du haut et bas vers le centre */; /* Dégradé radial */
    border-radius: 50%;
    padding: 20px;
    display: flex;
    gap: 10px;
    max-width: 850px; /* Largeur maximale du rectangle */
    width: 850px; /* Ajustement automatique de la largeur en fonction du contenu */
    height: 850px ; /* Ajustement automatique de la hauteur en fonction du contenu */
    margin-top: 50px;
    margin-bottom: 50px;
    margin: 0 auto;
}



.countdown-item {
    font-size: 36px;
    text-align: center;
    padding: 20px;
    border-radius: 50%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    margin: 10px;
    user-select: none; /* Empêche la sélection du texte */
    pointer-events: none; /* Désactive les événements de la souris */
    width: 70px;
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #000; /* Texte en blanc */
    margin: 10px -10px;

}

.blue { border: 5px solid #0099CC; }
.yellow { border: 5px solid #FFCC00; }
.black { border: 5px solid #000; }
.green { border: 5px solid #339900; }
.red { border: 5px solid #CC0000; }

.label {
    font-size: 16px;
    color: #666;
    margin-bottom: 5px;
    text-align: center;
}


/* POLICE DE CARACTERE*/

h1, main p, h2, li {
    font-family: "Times New Roman", Times, serif; /* Changer la police pour les h1 et p dans le main */
}






/* Styles de base ici... */

/* Adaptations pour les écrans plus petits (tablette et mobile) */
@media (max-width: 768px) {
    body, header, .page-title, main, footer, .menu, .image-container, .rectangle, .countdown-container {
        padding: 10px;
        margin: 0 auto;
        width: auto; /* Permet aux éléments de s'étendre pleinement */
        max-width: 100%; /* Empêche tout dépassement */
    }

    header {
        flex-direction: column; /* Empile les éléments de l'en-tête verticalement */
        padding: 10px 0;
    }

    .burger-menu, .burger-menu1 {
        padding: 10px 0; /* Ajuste le padding pour les icônes de menu */
    }

    .page-title, .menu, .image-container, .rectangle {
        /* Réduit le padding et ajuste les marges pour les principaux conteneurs */
        padding: 10px;
        margin-top: 20px; /* Ajoute de l'espace autour des éléments clés */
    }

    .menu {
        width: 100%; /* Le menu s'étend sur toute la largeur */
    }

    img, .rounded-image {
        max-width: 100%; /* Assure que les images ne dépassent pas leur conteneur */
        height: auto; /* Maintient le ratio d'aspect des images */
    }

    .countdown-container {
        flex-direction: row; /* Positionne les éléments de compte à rebours sur la même ligne */
        justify-content: space-around; /* Distribue l'espace autour des éléments */
        padding: 5px 0; /* Ajuste légèrement le padding */
    }

    .countdown-item {
        width: 15%; /* Réduit la taille pour permettre l'affichage en ligne */
        height: auto; /* Ajuste la hauteur automatiquement */
        padding: 5px; /* Réduit le padding */
        font-size: 3vw; /* Ajuste la taille de la police dynamiquement */
    }

    .label {
        font-size: 2.5vw; /* Ajuste la taille de la police des étiquettes */
    }
}

/* Adaptations spécifiques pour les smartphones */
@media (max-width: 480px) {
    /* Réduit davantage les paddings et ajuste les marges pour les très petits écrans */
    body, header, .page-title, main, footer, .menu, .image-container, .rectangle, .countdown-container {
        padding: 5px;
    }

    header, .burger-menu, .burger-menu1, .page-title, .menu, .image-container, .rectangle {
        margin-top: 10px; /* Diminue l'espace autour des éléments */
    }

    .menu {
        padding-top: 60px; /* Fournit de l'espace pour le contenu du menu */
    }

    .countdown-item {
        width: 18%; /* Ajuste la taille pour mieux s'adapter */
        font-size: 4vw; /* Ajuste la taille de la police pour améliorer la lisibilité */
    }

    .label {
        font-size: 3vw; /* Ajuste pour une meilleure lisibilité */
    }

    /* Ajustements de police pour garantir la lisibilité */
    h1, main p, h2, li {
        font-size: 4vw;
    }
}
